<center><h1>MYSQL

<h3>import

In [1]:
import sqlite3 as sqlite

<h3>connect

In [2]:
con = sqlite.connect("history.db")

<h3>close

In [3]:
con.close()

<h3>cursor

In [4]:
con = sqlite.connect("history.db")

cursor = con.cursor()
con.close()

<h3>CREATE TABLE

In [5]:
con = sqlite.connect("history.db")

cursor = con.cursor()
cursor.execute("""CREATE TABLE civilisations(`ID` INTEGER PRIMARY KEY AUTOINCREMENT,
                                             `Name` TEXT(50) NOT NULL,
                                             `Continent` TEXT(50) NOT NULL,
                                             `StartYear` INTEGER NOT NULL,
                                             `EndYear` INTEGER NOT NULL)""")
con.close()

<h3>INSERT INTO TABLE

In [6]:
con = sqlite.connect("history.db")

cursor = con.cursor()
cursor.execute("""INSERT INTO civilisations(`Name`,`Continent`,`StartYear`,`EndYear`)
                              VALUES('Sumer','Asia',-4500,-1900);
                                    """)
cursor.execute("""INSERT INTO civilisations(`Name`,`Continent`,`StartYear`,`EndYear`)
                              VALUES('Indus Valley','Asia',-3300,-1300);
                                    """)

<h3>execute with placeholder

In [7]:
query = "INSERT INTO civilisations(`Name`,`Continent`,`StartYear`,`EndYear`) VALUES(?,?,?,?)"

values = ('Ancient Egypt','Africa',-3100,-332)
cursor.execute(query,values)

<h3>executemany

In [8]:
query = "INSERT INTO civilisations(`Name`,`Continent`,`StartYear`,`EndYear`) VALUES(?,?,?,?)"
values = [
          ('Xia','Asia',-2070,-1600),
          ('Ancient Maya','America',-2000,1500),
          ('Ancient Greece','Europe',-1100,140),
          ('Ancient Rome','Europe',-750,470),
          ('bla bla','somewhere',-2,2),
          ('bla bla bla','somewhere else',-2,3)
         ]
cursor.executemany(query,values)

<h3>commit

In [9]:
con.commit()
con.close()

<h3>SELECT * FROM TABLE

In [10]:
con = sqlite.connect("history.db")

cursor = con.cursor()
cursor.execute("SELECT * FROM civilisations")

<h3>fetchone

In [11]:
result1 = cursor.fetchone()
result2 = cursor.fetchone()
print(result1)
print(result2)

(1, 'Sumer', 'Asia', -4500, -1900)
(2, 'Indus Valley', 'Asia', -3300, -1300)

<h3>rowcount

In [12]:
print(cursor.rowcount,"rows accessed")

-1 rows accessed

<h3>fetchmany

In [13]:
con = sqlite.connect("history.db")

cursor = con.cursor()
cursor.execute("SELECT * FROM civilisations")

manyresults = cursor.fetchmany(3)

for result in manyresults:
    print(result)
con.close()

(1, 'Sumer', 'Asia', -4500, -1900)
(2, 'Indus Valley', 'Asia', -3300, -1300)
(3, 'Ancient Egypt', 'Africa', -3100, -332)

<h3>fetchall

In [14]:
con = sqlite.connect("history.db")

cursor = con.cursor()
cursor.execute("SELECT * FROM civilisations")

results = cursor.fetchall()

for result in results:
    print(result)
con.close()

(1, 'Sumer', 'Asia', -4500, -1900)
(2, 'Indus Valley', 'Asia', -3300, -1300)
(3, 'Ancient Egypt', 'Africa', -3100, -332)
(4, 'Xia', 'Asia', -2070, -1600)
(5, 'Ancient Maya', 'America', -2000, 1500)
(6, 'Ancient Greece', 'Europe', -1100, 140)
(7, 'Ancient Rome', 'Europe', -750, 470)
(8, 'bla bla', 'somewhere', -2, 2)
(9, 'bla bla bla', 'somewhere else', -2, 3)

<h3>LIMIT

In [15]:
con = sqlite.connect("history.db")

cursor = con.cursor()
cursor.execute("SELECT * FROM civilisations LIMIT 2")

results = cursor.fetchall()

for result in results:
    print(result)
con.close()

(1, 'Sumer', 'Asia', -4500, -1900)
(2, 'Indus Valley', 'Asia', -3300, -1300)

<h3>SELECT COLUMNS FROM TABLE

In [16]:
con = sqlite.connect("history.db")

cursor = con.cursor()
cursor.execute("SELECT Name,StartYear FROM civilisations")

results = cursor.fetchall()

for result in results:
    print(result)
con.close()

('Sumer', -4500)
('Indus Valley', -3300)
('Ancient Egypt', -3100)
('Xia', -2070)
('Ancient Maya', -2000)
('Ancient Greece', -1100)
('Ancient Rome', -750)
('bla bla', -2)
('bla bla bla', -2)

<h3>WHERE

In [17]:
con = sqlite.connect("history.db")

cursor = con.cursor()
cursor.execute("SELECT * FROM civilisations WHERE StartYear > -3000")

results = cursor.fetchall()

for result in results:
    print(result)
con.close()

(4, 'Xia', 'Asia', -2070, -1600)
(5, 'Ancient Maya', 'America', -2000, 1500)
(6, 'Ancient Greece', 'Europe', -1100, 140)
(7, 'Ancient Rome', 'Europe', -750, 470)
(8, 'bla bla', 'somewhere', -2, 2)
(9, 'bla bla bla', 'somewhere else', -2, 3)

<h3>ORDER BY

In [18]:
con = sqlite.connect("history.db")

cursor = con.cursor()
cursor.execute("SELECT * FROM civilisations ORDER BY Name")

results = cursor.fetchall()

for result in results:
    print(result)
con.close()

(3, 'Ancient Egypt', 'Africa', -3100, -332)
(6, 'Ancient Greece', 'Europe', -1100, 140)
(5, 'Ancient Maya', 'America', -2000, 1500)
(7, 'Ancient Rome', 'Europe', -750, 470)
(2, 'Indus Valley', 'Asia', -3300, -1300)
(1, 'Sumer', 'Asia', -4500, -1900)
(4, 'Xia', 'Asia', -2070, -1600)
(8, 'bla bla', 'somewhere', -2, 2)
(9, 'bla bla bla', 'somewhere else', -2, 3)

<h3>DESC

In [19]:
con = sqlite.connect("history.db")

cursor = con.cursor()
cursor.execute("SELECT * FROM civilisations ORDER BY Name DESC")

results = cursor.fetchall()

for result in results:
    print(result)
con.close()

(9, 'bla bla bla', 'somewhere else', -2, 3)
(8, 'bla bla', 'somewhere', -2, 2)
(4, 'Xia', 'Asia', -2070, -1600)
(1, 'Sumer', 'Asia', -4500, -1900)
(2, 'Indus Valley', 'Asia', -3300, -1300)
(7, 'Ancient Rome', 'Europe', -750, 470)
(5, 'Ancient Maya', 'America', -2000, 1500)
(6, 'Ancient Greece', 'Europe', -1100, 140)
(3, 'Ancient Egypt', 'Africa', -3100, -332)

<h3>UPDATE TABLE SET

In [20]:
con = sqlite.dbapi2.connect("history.db")#dbapi2 is to ease committing because of the lightweight of sqlite

cursor = con.cursor()
cursor.execute("""UPDATE civilisations SET  Name='Carthage',
                                            Continent='Africa',
                                            StartYear=-814,
                                            EndYear=-146
                                       WHERE Name='bla bla bla'
               """)


cursor.execute("SELECT * FROM civilisations")
results = cursor.fetchall()
for result in results:
    print(result)
con.close()

(1, 'Sumer', 'Asia', -4500, -1900)
(2, 'Indus Valley', 'Asia', -3300, -1300)
(3, 'Ancient Egypt', 'Africa', -3100, -332)
(4, 'Xia', 'Asia', -2070, -1600)
(5, 'Ancient Maya', 'America', -2000, 1500)
(6, 'Ancient Greece', 'Europe', -1100, 140)
(7, 'Ancient Rome', 'Europe', -750, 470)
(8, 'bla bla', 'somewhere', -2, 2)
(9, 'Carthage', 'Africa', -814, -146)

<h3>DELETE FROM TABLE

In [21]:
con = sqlite.dbapi2.connect("history.db")

cursor = con.cursor()
cursor.execute("DELETE FROM civilisations WHERE Name='bla bla'")

cursor.execute("SELECT * FROM civilisations")
results = cursor.fetchall()
for result in results:
    print(result)
con.close()

(1, 'Sumer', 'Asia', -4500, -1900)
(2, 'Indus Valley', 'Asia', -3300, -1300)
(3, 'Ancient Egypt', 'Africa', -3100, -332)
(4, 'Xia', 'Asia', -2070, -1600)
(5, 'Ancient Maya', 'America', -2000, 1500)
(6, 'Ancient Greece', 'Europe', -1100, 140)
(7, 'Ancient Rome', 'Europe', -750, 470)
(9, 'bla bla bla', 'somewhere else', -2, 3)

<h3>DROP TABLE

In [22]:
con = sqlite.dbapi2.connect("history.db")

cursor = con.cursor()
cursor.execute("DROP TABLE civilisations")
con.close()

OperationalError: database is locked

<h3>SEE ASO

https://www.sqlite.org/lang.html