<center><h1>Pandas

<h3>Installation in Terminal

!pip install pandas

<h3>import

In [52]:
import pandas as pd

<h3>DataFrame

In [53]:
df = pd.DataFrame({
    "Name": ["Rachel Levine","Alan Turing","Lann Homscheidt","Alan Hart"],
    "Pronouns":["She/Her","He/His","They/Their","He/His"],
    "Birth":[1957,1912,1965,1890],
    "Occupation":["Pediatricien","Mathematician","Linguist","Radiologist"],
    "Nationality":["United-Statesian","British","German","United-Statesian"]
})

df

              Name    Pronouns  Birth     Occupation       Nationality
0    Rachel Levine     She/Her   1957   Pediatricien  United-Statesian
1      Alan Turing      He/His   1912  Mathematician           British
2  Lann Homscheidt  They/Their   1965       Linguist            German
3        Alan Hart      He/His   1890    Radiologist  United-Statesian

<h3>head

In [54]:
df.head(2)

            Name Pronouns  Birth     Occupation       Nationality
0  Rachel Levine  She/Her   1957   Pediatricien  United-Statesian
1    Alan Turing   He/His   1912  Mathematician           British

<h3>tail

In [55]:
df.tail(2)

              Name    Pronouns  Birth   Occupation       Nationality
2  Lann Homscheidt  They/Their   1965     Linguist            German
3        Alan Hart      He/His   1890  Radiologist  United-Statesian

<h3>loc

In [60]:
df.loc[2]

Name           Lann Homscheidt
Pronouns            They/Their
Birth                     1965
Occupation            Linguist
Nationality             German
Name: 2, dtype: object

<h3>at

In [62]:
df.loc[2].at["Pronouns"]

'They/Their'

<h3>at

In [63]:
df.at[2,"Pronouns"]

'They/Their'

<h3>select_dtypes

In [65]:
df.select_dtypes(include=int)

   Birth
0   1957
1   1912
2   1965
3   1890

<h3>values

In [91]:
df.values

array([['Rachel Levine', 'She/Her', 1957, 'Pediatricien',
        'United-Statesian'],
       ['Alan Turing', 'He/His', 1912, 'Mathematician', 'British'],
       ['Lann Homscheidt', 'They/Their', 1965, 'Linguist', 'German'],
       ['Alan Hart', 'He/His', 1890, 'Radiologist', 'United-Statesian']],
      dtype=object)

<h3>to_numpy

In [66]:
df.to_numpy()

array([['Rachel Levine', 'She/Her', 1957, 'Pediatricien',
        'United-Statesian'],
       ['Alan Turing', 'He/His', 1912, 'Mathematician', 'British'],
       ['Lann Homscheidt', 'They/Their', 1965, 'Linguist', 'German'],
       ['Alan Hart', 'He/His', 1890, 'Radiologist', 'United-Statesian']],
      dtype=object)

<h3>axes

In [68]:
df.axes

[RangeIndex(start=0, stop=4, step=1),
 Index(['Name', 'Pronouns', 'Birth', 'Occupation', 'Nationality'], dtype='object')]

<h3>items

In [94]:
df.items

<bound method DataFrame.items of               Name    Pronouns  Birth     Occupation       Nationality
0    Rachel Levine     She/Her   1957   Pediatricien  United-Statesian
1      Alan Turing      He/His   1912  Mathematician           British
2  Lann Homscheidt  They/Their   1965       Linguist            German
3        Alan Hart      He/His   1890    Radiologist  United-Statesian>

<h3>keys

In [101]:
df.keys

<bound method NDFrame.keys of               Name    Pronouns  Birth     Occupation       Nationality
0    Rachel Levine     She/Her   1957   Pediatricien  United-Statesian
1      Alan Turing      He/His   1912  Mathematician           British
2  Lann Homscheidt  They/Their   1965       Linguist            German
3        Alan Hart      He/His   1890    Radiologist  United-Statesian>

<h3>index

In [98]:
df.index

RangeIndex(start=0, stop=4, step=1)

<h3>columns

In [99]:
df.columns

Index(['Name', 'Pronouns', 'Birth', 'Occupation', 'Nationality'], dtype='object')

<h3>keys()

In [102]:
df.keys()

Index(['Name', 'Pronouns', 'Birth', 'Occupation', 'Nationality'], dtype='object')

<h3>ndim

In [77]:
df.ndim

2

<h3>shape

In [80]:
df.shape

(4, 5)

<h3>empty

In [85]:
df.empty

False

<h3>size

In [79]:
df.size #5cols*4rows

20

<h3>copy

In [88]:
df.copy()

              Name    Pronouns  Birth     Occupation       Nationality
0    Rachel Levine     She/Her   1957   Pediatricien  United-Statesian
1      Alan Turing      He/His   1912  Mathematician           British
2  Lann Homscheidt  They/Their   1965       Linguist            German
3        Alan Hart      He/His   1890    Radiologist  United-Statesian

<h3>describe

In [5]:
df.describe()

             Birth
count     4.000000
mean   1931.000000
std      35.935127
min    1890.000000
25%    1906.500000
50%    1934.500000
75%    1959.000000
max    1965.000000

<h3>info

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         4 non-null      object
 1   Pronouns     4 non-null      object
 2   Birth        4 non-null      int64
 3   Occupation   4 non-null      object
 4   Nationality  4 non-null      object
dtypes: int64(1), object(4)
memory usage: 288.0+ bytes

<h3>memory_usage

In [83]:
df.memory_usage()

Index          128
Name            32
Pronouns        32
Birth           32
Occupation      32
Nationality     32
dtype: int64

<h3>count

In [6]:
df.count()

Name           4
Pronouns       4
Birth          4
Occupation     4
Nationality    4
dtype: int64

<h3>syracuse fun

In [7]:
def term(n):
    return 3*n+1 if n%2!=0 else n//2
def syracuse(start,n=[]):
    if(n==[]):
        n = [start]
    if(n[-1]==1):
        return n
    else:
        n.append(term(n[-1]))
        return syracuse(start,n)

<h3>Series

In [8]:
series = pd.Series(syracuse(14),name="Syracuse 14")
print(series,"\n")

0     14
1      7
2     22
3     11
4     34
5     17
6     52
7     26
8     13
9     40
10    20
11    10
12     5
13    16
14     8
15     4
16     2
17     1
Name: Syracuse 14, dtype: int64

<h3>Multidim series

In [76]:
series = pd.Series([syracuse(11),syracuse(14),syracuse(15)],name="Syracuse 11,14,15")
print(f"the ndim of a series is always {series.ndim}")
print(series)

the ndim of a series is always 1
0    [11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8,...
1    [14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10...
2    [15, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20,...
Name: Syracuse 11,14,15, dtype: object

<h3>Accessing values from multidim series

In [10]:
print( series[1][2] )

23

<h3>Get series from column

In [11]:
df["Birth"]

0    1957
1    1912
2    1965
3    1890
Name: Birth, dtype: int64

<h3>max

In [12]:
df["Birth"].max()

1965

<h3>min

In [13]:
df["Birth"].min()

1890

<h3>count

In [14]:
df["Birth"].count()

4

<h3>array

In [15]:
array = pd.array([syracuse(14),syracuse(15)])
print(array)

<PandasArray>
[[14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1], [15, 46, 23, 70, 35, 106, 53, 160, 80, 40, 20, 10, 5, 16, 8, 4, 2, 1]]
Length: 2, dtype: object

<h3>read_csv

In [16]:
df = pd.read_csv("population_worldmeters.csv")
df

,Entity,Population 2019,Area (Km²),Density (P/Km²),World population share,GDP (trillion $ 2019)
0,China,1433783686,"9,388,211",153,18.6,$12.24
1,E.U,444986729,3997838,111,5.8,17.28
2,U.S.A,329064917,9147420,36,4.3,19.39
3,Japan,126860301,364555,348,1.6,4.87

<h3>to_csv

In [109]:
df = pd.DataFrame({
    "Name": ["Rachel Levine","Alan Turing","Lann Homscheidt","Alan Hart"],
    "Pronouns":["She/Her","He/His","They/Their","He/His"],
    "Birth":[1957,1912,1965,1890],
    "Occupation":["Pediatricien","Mathematician","Linguist","Radiologist"],
    "Nationality":["United-Statesian","British","German","United-Statesian"]
})
df.to_csv("Legends.csv")

<h3>read_excel

!pip install openpyxl

In [17]:
df = pd.read_excel("population_worldmeters.xlsx")
df

,Entity,Population 2019,Area (Km²),Density (P/Km²),World population share,GDP (trillion $ 2019)
0,China,1.433784e+09,9388211.0,153.0,18.6,12.24
1,E.U,4.449867e+08,3997838.0,111.0,5.8,17.28
2,U.S.A,3.290649e+08,9147420.0,36.0,4.3,19.39
3,Japan,1.268603e+08,364555.0,348.0,1.6,4.87

<h3>to_excel

In [110]:
df = pd.DataFrame({
    "Name": ["Rachel Levine","Alan Turing","Lann Homscheidt","Alan Hart"],
    "Pronouns":["She/Her","He/His","They/Their","He/His"],
    "Birth":[1957,1912,1965,1890],
    "Occupation":["Pediatricien","Mathematician","Linguist","Radiologist"],
    "Nationality":["United-Statesian","British","German","United-Statesian"]
})
df.to_excel("Legends.xlsx")

<h3>read_clipboard

https://docs.google.com/spreadsheets/d/1nbit05NsFZl_hmNkMivDR4dPyaknNNGbJHgOm9oS-wA/edit?usp=sharing

In [34]:
df = pd.read_clipboard()
df

,Entity,Population 2019,Area (Km²),Density (P/Km²),World population share,GDP (trillion $ 2019)
0,China,1433783686,"9,388,211",153,18.6,$12.24
1,E.U,444986729,3997838,111,5.8,17.28
2,U.S.A,329064917,9147420,36,4.3,19.39
3,Japan,126860301,364555,348,1.6,4.87

<h3>to_clipboard

In [111]:
df = pd.DataFrame({
    "Name": ["Rachel Levine","Alan Turing","Lann Homscheidt","Alan Hart"],
    "Pronouns":["She/Her","He/His","They/Their","He/His"],
    "Birth":[1957,1912,1965,1890],
    "Occupation":["Pediatricien","Mathematician","Linguist","Radiologist"],
    "Nationality":["United-Statesian","British","German","United-Statesian"]
})
df.to_clipboard()

<h3>read_xml

!pip install lxml

In [38]:
df = pd.read_xml("population_worldmeters.xml")
df

  Entity  Population       Area  Density  Worldpopulationshare    GDP
0  China  1433783686  9,388,211      153                  18.6  12.24
1    E.U   444986729    3997838      111                   5.8  17.28
2  U.S.A   329064917    9147420       36                   4.3  19.39
3  Japan   126860301     364555      348                   1.6   4.87

<h3>to_xml

In [112]:
df = pd.DataFrame({
    "Name": ["Rachel Levine","Alan Turing","Lann Homscheidt","Alan Hart"],
    "Pronouns":["She/Her","He/His","They/Their","He/His"],
    "Birth":[1957,1912,1965,1890],
    "Occupation":["Pediatricien","Mathematician","Linguist","Radiologist"],
    "Nationality":["United-Statesian","British","German","United-Statesian"]
})
df.to_xml("Legends.xml")

<h3>read_json

In [44]:
df = pd.read_json("population_worldmeters.json")
df

,Entity,Population 2019,Area (Km²),Density (P/Km²),World population share,GDP (trillion $ 2019)
0,China,1433783686,9388211,153,18.6,12.24
1,E.U,444986729,3997838,111,5.8,17.28
2,U.S.A,329064917,9147420,36,4.3,19.39
3,Japan,126860301,364555,348,1.6,4.87

<h3>to_json

In [113]:
df = pd.DataFrame({
    "Name": ["Rachel Levine","Alan Turing","Lann Homscheidt","Alan Hart"],
    "Pronouns":["She/Her","He/His","They/Their","He/His"],
    "Birth":[1957,1912,1965,1890],
    "Occupation":["Pediatricien","Mathematician","Linguist","Radiologist"],
    "Nationality":["United-Statesian","British","German","United-Statesian"]
})
df.to_json("Legends.json")

<h3>read_html

In [114]:
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population")
df[0]

,Rank,Country or dependent territory,Region,Population,% of world,Date,Source (official or from the United Nations),Notes
0,–,NaN,World,7916847000,NaN,18 Dec 2021,UN projection[2],NaN
1,1,China,Asia,1411778724,NaN,1 Nov 2020,2020 census result[3],"The census figure refers to mainland China, ex..."
2,2,India,Asia,1385698883,NaN,18 Dec 2021,National population clock[4],The figure includes the population of India-ad...
3,3,United States,Americas,332898208,NaN,18 Dec 2021,National population clock[5],Includes the 50 states and the District of Col...
4,4,Indonesia,Asia,271350000,NaN,31 Dec 2020,National annual estimate[6],NaN
...,...,...,...,...,...,...,...,...
237,–,Niue (New Zealand),Oceania,1549,NaN,1 Jul 2021,National annual projection[91],NaN
238,–,Tokelau (New Zealand),Oceania,1501,NaN,1 Jul 2021,National annual projection[91],NaN
239,195,Vatican City,Europe,825,NaN,1 Feb 2019,Monthly national estimate[190],The total population of 825 consisted of 453 r...
240,–,Cocos (Keeling) Islands (Australia),Oceania,573,NaN,30 Jun 2020,National annual estimate[189],NaN
241,–,Pitcairn Islands (United Kingdom),Oceania,40,NaN,1 Jan 2021,National annual estimate[191],NaN

<h3>to_html

In [115]:
df = pd.DataFrame({
    "Name": ["Rachel Levine","Alan Turing","Lann Homscheidt","Alan Hart"],
    "Pronouns":["She/Her","He/His","They/Their","He/His"],
    "Birth":[1957,1912,1965,1890],
    "Occupation":["Pediatricien","Mathematician","Linguist","Radiologist"],
    "Nationality":["United-Statesian","British","German","United-Statesian"]
})
df.to_html("Legends.html")

<h3>read_sql

In [116]:
import sqlite3 as sql

In [ ]:

df = pd.read_sql("")

<h3>sort_values

In [ ]:
sorted_df = df.sort_values("Density (P/Km²)")
sorted_df

<h3>sort_index

In [ ]:
sorted_df.sort_index()

<h3>append

In [ ]:
other = pd.DataFrame({
    "Entity":{4:"Iceland"},
    "Population 2019":{4:360_563},
    "Area (Km²)":{4:103000},
    "Density (P/Km²)":{4:3},
    "World population share":{4:0},
    "GDP (trillion $ 2019)":{4:0.02484}
})

newdf = df.append(other,True)
newdf

<h3>append for later use

In [ ]:
newdf = df.append(sorted_df)
newdf

<h3>align

In [ ]:
df.align(df)

<h3>add

In [ ]:
newdf.add(df)

<h3>+

In [ ]:
newdf+df