<h3>if

In [1]:
a = 3
if a == 3:
    print("three")

three

In [2]:
a = 3
if a != 3:
    print("not three")

<h3>else

In [3]:
a = 3
if a != 3:
    print("not three")
else:
    print("three")

three

<h3>elif

In [4]:
a = 1
if a == 3:
    print("three")
elif a==2:
    print("two")
elif a==1:
    print("one")
else:
    print("something else")

one

<h3>match

In [5]:
a = 3
match a:
    case 1:
        print("one")
    case 2:
        print("two")
    case 3:
        print("three")

three

<h3>for range(end)

In [6]:
for c in range(3):
    print(c)

0
1
2

<h3>range(start,end)

In [7]:
for c in range(0,3):
    print(c)

0
1
2

In [8]:
for c in range(-1,5):
    print(c)

-1
0
1
2
3
4

<h3>range(start,end,step)

In [9]:
for c in range(-1,5,2):
    print(c)

-1
1
3

<h3>custom list

In [10]:
values = [5,2,3,5]
for i in values:
    print(i)

5
2
3
5

<h3>str

In [11]:
vowels = "AEIOUY"
for vowel in vowels:
    print(vowel)

A
E
I
O
U
Y

<h3>enumerate

In [12]:
primes = [2,3,5,7,11,13,17,19,21]

for index,prime in enumerate(primes):
    print(f"the {index+1}th prime is {prime}")

the 1th prime is 2
the 2th prime is 3
the 3th prime is 5
the 4th prime is 7
the 5th prime is 11
the 6th prime is 13
the 7th prime is 17
the 8th prime is 19
the 9th prime is 21

<h3>zip

In [13]:
odds = [1,3,5,7,9,11]
evens = [2,4,6,8,10,12]

for odd,even in zip(odds,evens):
    print(odd,"then",even,"then")

1 then 2 then
3 then 4 then
5 then 6 then
7 then 8 then
9 then 10 then
11 then 12 then

<h3>while

In [14]:
n = 0
while n<4:
    print(n)
    n+=1

0
1
2
3

In [15]:
n = 0
while n<4:
    n+=1
    print(n)

1
2
3
4

<h3>continue

In [16]:
n = 0
while n<4:
    n+=1
    if(n==2):
        continue
    print(n)

1
3
4

<h3>break

In [17]:
n = 0
while True:
    n+=1
    print(n)
    if n == 4:
        break

1
2
3
4