<center><h1>MYSQL

!pip install mysql-connector-python

<h3>import

In [1]:
import mysql.connector as connector

<h3>connect

In [2]:
con = connector.connect(
    host="localhost",
    user="fun",
    password="this is not a password",
)

<h3>close

In [3]:
con.close()

<h3>cursor

In [4]:
con = connector.connect(
    host="localhost",
    user="fun",
    password="this is not a password",
)

cursor = con.cursor()
con.close()

<h3>execute

In [5]:
con = connector.connect(
    host="localhost",
    user="fun",
    password="this is not a password",
)

cursor = con.cursor()
cursor.execute("CREATE DATABASE history")
con.close()

<h3>CREATE TABLE

In [6]:
con = connector.connect(
    host="localhost",
    user="fun",
    password="this is not a password",
    database="history"
)

cursor = con.cursor()
cursor.execute("""CREATE TABLE civilisations(`ID` INT PRIMARY KEY AUTO_INCREMENT,
                                             `Name` VARCHAR(50) NOT NULL,
                                             `Continent` VARCHAR(50) NOT NULL,
                                             `StartYear` INT NOT NULL,
                                             `EndYear` INT NOT NULL)""")
con.close()

<h3>SHOW TABLES

In [7]:
con = connector.connect(
    host="localhost",
    user="fun",
    password="this is not a password",
    database="history"
)

cursor = con.cursor()
cursor.execute("""SHOW TABLES""")

list(cursor)
con.close()

<h3>SHOW TABLES

In [8]:
con = connector.connect(
    host="localhost",
    user="fun",
    password="this is not a password",
    database="history"
)

cursor = con.cursor()
cursor.execute("SHOW TABLES")

list(cursor)
con.close()

<h3>INSERT INTO TABLE

In [9]:
con = connector.connect(
    host="localhost",
    user="fun",
    password="this is not a password",
    database="history"
)

cursor = con.cursor()
cursor.execute("""INSERT INTO civilisations(`Name`,`Continent`,`StartYear`,`EndYear`)
                              VALUES('Sumer','Asia',-4500,-1900);
                                    """)
cursor.execute("""INSERT INTO civilisations(`Name`,`Continent`,`StartYear`,`EndYear`)
                              VALUES('Indus Valley','Asia',-3300,-1300);
                                    """)

<h3>execute with placeholder

In [10]:
query = "INSERT INTO civilisations(`Name`,`Continent`,`StartYear`,`EndYear`) VALUES(%s,%s,%s,%s)"

values = ('Ancient Egypt','Africa',-3100,-332)
cursor.execute(query,values)

<h3>executemany

In [11]:
values = [
          ('Xia','Asia',-2070,-1600),
          ('Ancient Maya','America',-2000,1500),
          ('Ancient Greece','Europe',-1100,140),
          ('Ancient Rome','Europe',-750,470),
          ('bla bla','somewhere',-2,2),
          ('bla bla bla','somewhere else',-2,3)
         ]
cursor.executemany(query,values)

<h3>commit

In [12]:
con.commit()
con.close()

<h3>SELECT * FROM TABLE

In [13]:
con = connector.connect(
    host="localhost",
    user="fun",
    password="this is not a password",
    database="history"
)

cursor = con.cursor()
cursor.execute("SELECT * FROM civilisations")

<h3>rowcount

In [14]:
print(cursor.rowcount,"rows accessed")

-1 rows accessed

<h3>fetchone

In [15]:
result1 = cursor.fetchone()
result2 = cursor.fetchone()
print(result1)
print(result2)

(1, 'Sumer', 'Asia', -4500, -1900)
(2, 'Indus Valley', 'Asia', -3300, -1300)

<h3>next

In [16]:
result3 = cursor.next()
print(result3)

(3, 'Ancient Egypt', 'Africa', -3100, -332)

<h3>fetchmany

In [17]:
con = connector.connect(
    host="localhost",
    user="fun",
    password="this is not a password",
    database="history"
)

cursor = con.cursor()
cursor.execute("SELECT * FROM civilisations")

manyresults = cursor.fetchmany(3)

for result in manyresults:
    print(result)
con.close()

(1, 'Sumer', 'Asia', -4500, -1900)
(2, 'Indus Valley', 'Asia', -3300, -1300)
(3, 'Ancient Egypt', 'Africa', -3100, -332)

<h3>fetchall

In [18]:
con = connector.connect(
    host="localhost",
    user="fun",
    password="this is not a password",
    database="history"
)

cursor = con.cursor()
cursor.execute("SELECT * FROM civilisations")

results = cursor.fetchall()

for result in results:
    print(result)
con.close()

(1, 'Sumer', 'Asia', -4500, -1900)
(2, 'Indus Valley', 'Asia', -3300, -1300)
(3, 'Ancient Egypt', 'Africa', -3100, -332)
(4, 'Xia', 'Asia', -2070, -1600)
(5, 'Ancient Maya', 'America', -2000, 1500)
(6, 'Ancient Greece', 'Europe', -1100, 140)
(7, 'Ancient Rome', 'Europe', -750, 470)
(8, 'bla bla', 'somewhere', -2, 2)
(9, 'bla bla bla', 'somewhere else', -2, 3)

<h3>LIMIT

In [19]:
con = connector.connect(
    host="localhost",
    user="fun",
    password="this is not a password",
    database="history"
)

cursor = con.cursor()
cursor.execute("SELECT * FROM civilisations LIMIT 2")

results = cursor.fetchall()

for result in results:
    print(result)
con.close()

(1, 'Sumer', 'Asia', -4500, -1900)
(2, 'Indus Valley', 'Asia', -3300, -1300)

<h3>SELECT COLUMNS FROM TABLE

In [20]:
con = connector.connect(
    host="localhost",
    user="fun",
    password="this is not a password",
    database="history"
)

cursor = con.cursor()
cursor.execute("SELECT Name,StartYear FROM civilisations")

results = cursor.fetchall()

for result in results:
    print(result)
con.close()

('Sumer', -4500)
('Indus Valley', -3300)
('Ancient Egypt', -3100)
('Xia', -2070)
('Ancient Maya', -2000)
('Ancient Greece', -1100)
('Ancient Rome', -750)
('bla bla', -2)
('bla bla bla', -2)

<h3>WHERE

In [21]:
con = connector.connect(
    host="localhost",
    user="fun",
    password="this is not a password",
    database="history"
)

cursor = con.cursor()
cursor.execute("SELECT * FROM civilisations WHERE StartYear > -3000")

results = cursor.fetchall()

for result in results:
    print(result)
con.close()

(4, 'Xia', 'Asia', -2070, -1600)
(5, 'Ancient Maya', 'America', -2000, 1500)
(6, 'Ancient Greece', 'Europe', -1100, 140)
(7, 'Ancient Rome', 'Europe', -750, 470)
(8, 'bla bla', 'somewhere', -2, 2)
(9, 'bla bla bla', 'somewhere else', -2, 3)

<h3>ORDER BY

In [22]:
con = connector.connect(
    host="localhost",
    user="fun",
    password="this is not a password",
    database="history"
)

cursor = con.cursor()
cursor.execute("SELECT * FROM civilisations ORDER BY Name")

results = cursor.fetchall()

for result in results:
    print(result)
con.close()

(3, 'Ancient Egypt', 'Africa', -3100, -332)
(6, 'Ancient Greece', 'Europe', -1100, 140)
(5, 'Ancient Maya', 'America', -2000, 1500)
(7, 'Ancient Rome', 'Europe', -750, 470)
(8, 'bla bla', 'somewhere', -2, 2)
(9, 'bla bla bla', 'somewhere else', -2, 3)
(2, 'Indus Valley', 'Asia', -3300, -1300)
(1, 'Sumer', 'Asia', -4500, -1900)
(4, 'Xia', 'Asia', -2070, -1600)

<h3>DESC

In [23]:
con = connector.connect(
    host="localhost",
    user="fun",
    password="this is not a password",
    database="history"
)

cursor = con.cursor()
cursor.execute("SELECT * FROM civilisations ORDER BY Name DESC")

results = cursor.fetchall()

for result in results:
    print(result)
con.close()

(4, 'Xia', 'Asia', -2070, -1600)
(1, 'Sumer', 'Asia', -4500, -1900)
(2, 'Indus Valley', 'Asia', -3300, -1300)
(9, 'bla bla bla', 'somewhere else', -2, 3)
(8, 'bla bla', 'somewhere', -2, 2)
(7, 'Ancient Rome', 'Europe', -750, 470)
(5, 'Ancient Maya', 'America', -2000, 1500)
(6, 'Ancient Greece', 'Europe', -1100, 140)
(3, 'Ancient Egypt', 'Africa', -3100, -332)

<h3>UPDATE TABLE SET

In [24]:
con = connector.connect(
    host="localhost",
    user="fun",
    password="this is not a password",
    database="history"
)

cursor = con.cursor()
cursor.execute("""UPDATE civilisations SET  Name='Carthage',
                                            Continent='Africa',
                                            StartYear=-814,
                                            EndYear=-146
                                   
                                        WHERE Name='bla bla bla'
               """)
con.commit()

cursor.execute("SELECT * FROM civilisations")
results = cursor.fetchall()
for result in results:
    print(result)
con.close()

(1, 'Sumer', 'Asia', -4500, -1900)
(2, 'Indus Valley', 'Asia', -3300, -1300)
(3, 'Ancient Egypt', 'Africa', -3100, -332)
(4, 'Xia', 'Asia', -2070, -1600)
(5, 'Ancient Maya', 'America', -2000, 1500)
(6, 'Ancient Greece', 'Europe', -1100, 140)
(7, 'Ancient Rome', 'Europe', -750, 470)
(8, 'bla bla', 'somewhere', -2, 2)
(9, 'Carthage', 'Africa', -814, -146)

<h3>DELETE FROM TABLE

In [25]:
con = connector.connect(
    host="localhost",
    user="fun",
    password="this is not a password",
    database="history"
)

cursor = con.cursor()
cursor.execute("DELETE FROM civilisations WHERE Name='bla bla'")
con.commit()

cursor.execute("SELECT * FROM civilisations")
results = cursor.fetchall()
for result in results:
    print(result)
con.close()

(1, 'Sumer', 'Asia', -4500, -1900)
(2, 'Indus Valley', 'Asia', -3300, -1300)
(3, 'Ancient Egypt', 'Africa', -3100, -332)
(4, 'Xia', 'Asia', -2070, -1600)
(5, 'Ancient Maya', 'America', -2000, 1500)
(6, 'Ancient Greece', 'Europe', -1100, 140)
(7, 'Ancient Rome', 'Europe', -750, 470)
(9, 'Carthage', 'Africa', -814, -146)

<h3>DROP TABLE

In [26]:
con = connector.connect(
    host="localhost",
    user="fun",
    password="this is not a password",
    database="history"
)

cursor = con.cursor()
cursor.execute("DROP TABLE civilisations")
con.close()

<h3>DROP DATABASE

In [27]:
con = connector.connect(
    host="localhost",
    user="fun",
    password="this is not a password"
)

cursor = con.cursor()
cursor.execute("DROP DATABASE `history`")

con.close()

<h3>SEE ASO

https://dev.mysql.com/doc/refman/8.0/en/